In [2]:
!pip install opendatasets

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting opendatasets
  Downloading opendatasets-0.1.22-py3-none-any.whl (15 kB)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.64.0)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (6.1.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2022.6.15)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.22

In [2]:
import opendatasets as od
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import gc
import re
import gzip
import time
import warnings
import modin.pandas as pd
import ray
from dask import dataframe as dd

In [5]:
od.download(
    "https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store?select=2019-Oct.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: alymoslhi
Your Kaggle Key: ··········
Downloading ecommerce-behavior-data-from-multi-category-store.zip to ./ecommerce-behavior-data-from-multi-category-store

100%|██████████| 4.29G/4.29G [00:33<00:00, 136MB/s]

In [3]:
file =('/content/ecommerce-behavior-data-from-multi-category-store/2019-Oct.csv')

In [4]:
#import using pandas
%%time
newData = pd.read_csv(file)

UserWarning: Ray execution environment not yet initialized. Initializing...
To remove this warning, run the following python code before doing dataframe operations:

    import ray
    ray.init()

UserWarning: The size of /dev/shm is too small (6133121024 bytes). The required size at least half of RAM (6808872960 bytes). Please, delete files in /dev/shm or increase size of /dev/shm with --shm-size in Docker. Also, you can set the required memory size for each Ray worker in bytes to MODIN_MEMORY environment variable.
(deploy_ray_func pid=4629) tcmalloc: large alloc 2834309120 bytes == 0x4b88000 @  0x7fbae714f1e7 0x4a3940 0x5b438c 0x5d0ccd 0x5939af 0x516337 0x549576 0x593fce 0x548ae9 0x51566f 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fbae3e28e02 0x7fbae3ebcdb6 0x7fbae3e2f306 0x7fbae3fa36ab 0x7fbae3f0488f 0x7fbae3fcb7d3 0x7fbae3fcc72a 0x7fbae3fde18e 0x7fbae3fb7530 0x7fbae41dbf06 0x7fbae4188a3e 0x7fbae4188c96 0x7fbae461fcab 0x7fbae4620ee1
(deploy_ray_func pid=4628) tcmalloc: large alloc 2834309120 bytes == 0x34e8000 @  0x7f98324301e7 0x4a3940 0x5b438c 0x5d0ccd 0x5939af 0x516337 0x549576 0x593fce 0x548ae9 0x51566f 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7f982f109e02 0x7f982f19ddb6 0x7f982f110306 0x7f982f2846ab 0x7f982f1e588f 0x7f982f2ac7d3 0x7f982f2ad72a 0x7f982f2bf18e 0x7f982f298530 0x7f982f4bcf06 0x7f982f469a3e 0x7f982f469c96 0x7f982f900cab 0x7f982f901ee1
(deploy_ray_func pid=4628) tcmalloc: large alloc 2834309120 bytes == 0xac3ea000 @  0x7f98324301e7 0x4a3940 0x592821 0x5122db 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7f982f109e02 0x7f982f19ddb6 0x7f982f110306 0x7f982f2846ab 0x7f982f1e588f 0x7f982f2ac7d3 0x7f982f2ad72a 0x7f982f2bf18e 0x7f982f298530 0x7f982f4bcf06 0x7f982f469a3e 0x7f982f469c96 0x7f982f900cab 0x7f982f901ee1 0x7f982f902150 0x7f982f25396c 0x7f982f2921f2 0x7f982f2931ad 0x7f982f10c5a7 0x59af67
(deploy_ray_func pid=4629) tcmalloc: large alloc 2834309120 bytes == 0xada8a000 @  0x7fbae714f1e7 0x4a3940 0x592821 0x5122db 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fbae3e28e02 0x7fbae3ebcdb6 0x7fbae3e2f306 0x7fbae3fa36ab 0x7fbae3f0488f 0x7fbae3fcb7d3 0x7fbae3fcc72a 0x7fbae3fde18e 0x7fbae3fb7530 0x7fbae41dbf06 0x7fbae4188a3e 0x7fbae4188c96 0x7fbae461fcab 0x7fbae4620ee1 0x7fbae4621150 0x7fbae3f7296c 0x7fbae3fb11f2 0x7fbae3fb21ad 0x7fbae3e2b5a7 0x59af67

CPU times: user 8.79 s, sys: 4.88 s, total: 13.7 s
Wall time: 2min 31s

In [8]:
#import using dask
%%time
newData = dd.read_csv(file)

CPU times: user 50.9 ms, sys: 7.88 ms, total: 58.8 ms
Wall time: 86.3 ms

In [9]:
#import using modin
%%time
ray.shutdown()
ray.init()
newData = pd.read_csv(file)

2022-08-09 13:48:23,586	INFO services.py:1476 -- View the Ray dashboard at http://127.0.0.1:8265
(deploy_ray_func pid=895) tcmalloc: large alloc 2834309120 bytes == 0x4902000 @  0x7fb057e4f1e7 0x4a3940 0x5b438c 0x5d0ccd 0x5939af 0x516337 0x549576 0x593fce 0x548ae9 0x51566f 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fb054b28e02 0x7fb054bbcdb6 0x7fb054b2f306 0x7fb054ca36ab 0x7fb054c0488f 0x7fb054ccb7d3 0x7fb054ccc72a 0x7fb054cde18e 0x7fb054cb7530 0x7fb054edbf06 0x7fb054e88a3e 0x7fb054e88c96 0x7fb05531fcab 0x7fb055320ee1
(deploy_ray_func pid=896) tcmalloc: large alloc 2834309120 bytes == 0x3b22000 @  0x7feb8202e1e7 0x4a3940 0x5b438c 0x5d0ccd 0x5939af 0x516337 0x549576 0x593fce 0x548ae9 0x51566f 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7feb7ed07e02 0x7feb7ed9bdb6 0x7feb7ed0e306 0x7feb7ee826ab 0x7feb7ede388f 0x7feb7eeaa7d3 0x7feb7eeab72a 0x7feb7eebd18e 0x7feb7ee96530 0x7feb7f0baf06 0x7feb7f067a3e 0x7feb7f067c96 0x7feb7f4fecab 0x7feb7f4ffee1
(deploy_ray_func pid=896) tcmalloc: large alloc 2834309120 bytes == 0xaca3c000 @  0x7feb8202e1e7 0x4a3940 0x592821 0x5122db 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7feb7ed07e02 0x7feb7ed9bdb6 0x7feb7ed0e306 0x7feb7ee826ab 0x7feb7ede388f 0x7feb7eeaa7d3 0x7feb7eeab72a 0x7feb7eebd18e 0x7feb7ee96530 0x7feb7f0baf06 0x7feb7f067a3e 0x7feb7f067c96 0x7feb7f4fecab 0x7feb7f4ffee1 0x7feb7f500150 0x7feb7ee5196c 0x7feb7ee901f2 0x7feb7ee911ad 0x7feb7ed0a5a7 0x59af67
(deploy_ray_func pid=895) tcmalloc: large alloc 2834309120 bytes == 0xad804000 @  0x7fb057e4f1e7 0x4a3940 0x592821 0x5122db 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fb054b28e02 0x7fb054bbcdb6 0x7fb054b2f306 0x7fb054ca36ab 0x7fb054c0488f 0x7fb054ccb7d3 0x7fb054ccc72a 0x7fb054cde18e 0x7fb054cb7530 0x7fb054edbf06 0x7fb054e88a3e 0x7fb054e88c96 0x7fb05531fcab 0x7fb055320ee1 0x7fb055321150 0x7fb054c7296c 0x7fb054cb11f2 0x7fb054cb21ad 0x7fb054b2b5a7 0x59af67
2022-08-09 13:50:15,962	WARNING worker.py:1404 -- A worker died or was killed while executing a task by an unexpected system error. To troubleshoot the problem, check the logs for the dead worker. RayTask ID: 4f2f4f5729a0c3513006f07ad8a8362ffe64f9b801000000 Worker ID: 621ca7adad2aed9ee48ef51559cd8ba0dbe153fecc8b6c543e9a1439 Node ID: 077976e8b012761be8533ce1e63f20264874e1170f504a5cd6117965 Worker IP address: 172.28.0.2 Worker port: 44083 Worker PID: 896
(deploy_ray_func pid=1060) tcmalloc: large alloc 2834309120 bytes == 0x312c000 @  0x7fab2a8d51e7 0x4a3940 0x5b438c 0x5d0ccd 0x5939af 0x516337 0x549576 0x593fce 0x548ae9 0x51566f 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fab275aee02 0x7fab27642db6 0x7fab275b5306 0x7fab277296ab 0x7fab2768a88f 0x7fab277517d3 0x7fab2775272a 0x7fab2776418e 0x7fab2773d530 0x7fab27961f06 0x7fab2790ea3e 0x7fab2790ec96 0x7fab27da5cab 0x7fab27da6ee1
(deploy_ray_func pid=1060) tcmalloc: large alloc 2834309120 bytes == 0xac030000 @  0x7fab2a8d51e7 0x4a3940 0x592821 0x5122db 0x549576 0x4bca8a 0x5134a6 0x549576 0x4bca8a 0x5134a6 0x4bc98a 0x7fab275aee02 0x7fab27642db6 0x7fab275b5306 0x7fab277296ab 0x7fab2768a88f 0x7fab277517d3 0x7fab2775272a 0x7fab2776418e 0x7fab2773d530 0x7fab27961f06 0x7fab2790ea3e 0x7fab2790ec96 0x7fab27da5cab 0x7fab27da6ee1 0x7fab27da7150 0x7fab276f896c 0x7fab277371f2 0x7fab277381ad 0x7fab275b15a7 0x59af67

CPU times: user 9.18 s, sys: 9.4 s, total: 18.6 s
Wall time: 3min 26s

In [12]:
newData.info()

UserWarning: Distributing <class 'int'> object. This may take some time.

<class 'modin.pandas.dataframe.DataFrame'>
RangeIndex: 42448764 entries, 0 to 42448763
Data columns (total 9 columns):
 #   Column         Non-Null Count     Dtype
---  -------------  -----------------  -----
 0   event_time     42448764 non-null  object
 1   event_type     42448764 non-null  object
 2   product_id     42448764 non-null  int64
 3   category_id    42448764 non-null  int64
 4   category_code  28933155 non-null  object
 5   brand          36331684 non-null  object
 6   price          42448764 non-null  float64
 7   user_id        42448764 non-null  int64
 8   user_session   42448762 non-null  object
dtypes: object(5), int64(3), float64(1)
memory usage: 2.8 GB

In [13]:
newData.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [30]:
# creating a utility file
%%writefile testutilityyy.py

import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime 
import gc
import re


################
# File Reading #
################

def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string) 
    return string

def col_header_val(df,table_config):
    '''
    replace whitespaces in the column
    and standardized column names
    '''
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]','_',regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x,'_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(),  table_config['columns']))
    expected_col.sort()
    df.columns =list(map(lambda x: x.lower(), list(df.columns)))
    if len(df.columns) == len(expected_col) and list(expected_col)  == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file",mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded",missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Writing testutilityyy.py

In [47]:
%%writefile file3.yaml
file_type: csv
dataset_name: testfile
file_name: 2019-Oct
table_name: edsurv
inbound_delimiter: ","
outbound_delimiter: "|"
skip_leading_rows: 1
columns: 
    - event_time
    - event_type
    - product_id
    - category_id
    - category_code
    - brand
    - price
    - user_id
    - user_sessions

Writing file3.yaml

In [48]:
# Read config file
import testutility as util
config_data = util.read_config_file("file.yaml")

In [49]:
config_data['columns']

['event_time',
 'event_type',
 'product_id',
 'category_id',
 'category_code',
 'brand',
 'price',
 'user_id',
 'user_sessions']

In [50]:
#print the yaml file
config_data

{'columns': ['event_time',
  'event_type',
  'product_id',
  'category_id',
  'category_code',
  'brand',
  'price',
  'user_id',
  'user_sessions'],
 'dataset_name': 'testfile',
 'file_name': '2019-Oct',
 'file_type': 'csv',
 'inbound_delimiter': ',',
 'outbound_delimiter': '|',
 'skip_leading_rows': 1,
 'table_name': 'edsurv'}

In [51]:
#importing will be using dask 
newData = dd.read_csv(file,delimiter=',')
newData.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [52]:
# read the file using config file
file_type = config_data['file_type']
source_file = "/content/ecommerce-behavior-data-from-multi-category-store/" + config_data['file_name'] + f'.{file_type}'

newData = dd.read_csv(source_file,delimiter=config_data['inbound_delimiter'])
newData.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [53]:
#validate the header of the file
util.col_header_val(newData,config_data)

column name and column length validation failed
Following File columns are not in the YAML file ['user_session']
Following YAML columns are not in the file uploaded ['user_sessions']

0

In [55]:
print("columns of files are:" ,newData.columns)
print("columns of YAML are:" ,config_data['columns'])

columns of files are: Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session'],
      dtype='object')
columns of YAML are: ['event_time', 'event_type', 'product_id', 'category_id', 'category_code', 'brand', 'price', 'user_id', 'user_sessions']

In [58]:
if util.col_header_val(newData,config_data)==0:
    print("validation failed")
    # write code to reject the file
else:
    print("col validation passed")
    newData.to_csv(index=False)

column name and column length validation failed
Following File columns are not in the YAML file ['user_session']
Following YAML columns are not in the file uploaded ['user_sessions']
validation failed